node_modules
dist
.DS_Store
*.local
.env
.venv
__pycache__
*.pyc
backend/lost_found.db
backend/lost_found.db.bak
backend/uploads/*
!backend/uploads/.gitkeep
backend_backup/lost_found.db
backend_backup/lost_found.db.bak
backend_backup/uploads
.vscode
.vercel
cookies.txt
